/*Importación de la tipografía Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Estilos básicos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

/*Estilos para el header*/
.encabezado {
    background-color: #213635;
    color: #f2f2f2;
    padding: 15px;
    text-align: center;
    font-size: 2em;
}

/*Estilos para el menú de navegación*/
.menu {
    background-color: #1c5052;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
}
.menu ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}
.menu a {
    color: #f2f2f2;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/*Estilos para los enlaces del aside lateral y el artículo final*/
.lateral a {
    color: #348E91;
    text-decoration: none;
}
.lateral a:hover {
    color: #1c5052;
    text-decoration: underline;
}
.articulo a {
    color: #348E91;
    text-decoration: none;
}
.articulo a:hover {
    color: #1c5052;
    text-decoration: underline;
}

/*Estilos generales para todo el contenedor del contenido*/
.contenedor {
    display: flex;
    gap: 2rem;
    padding: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

/*Estilos generales para el contenido principal de la página*/
.contenido {
    flex: 3;
    border-right: 2px solid #a8b8b8;
    padding: 3rem;
}
.contenedor ul {
    padding-left: 1.5em;
}
.contenedor ul li::marker {
    color: #5c8182;
    font-size: 1.2em;
}

/*Estilos generales para el contenido del aside lateral*/
.lateral {
    flex: 1;
    padding-top: 7rem;
}

/*Estilos específicos para el contenido del artículo final*/
.articulo {
    margin: 8%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/*Estilo de borde para las imágenes*/
img {
    border-radius: 20px;
}

/*Estilos específicos para las tablas*/
table {
    width: 80%;
    border-collapse: collapse; 
    margin-bottom: 20px;
    margin: 0 auto;
}
caption {
    padding: 10px;
    background-color: #1c5052;
    color: #f2f2f2;
    border-radius: 6px 6px 0 0;
}
th {
    background-color: #5c8182;
    color: #f2f2f2;
    padding: 12px;
}
td {
    padding: 12px;
    text-align: center;
    background-color: #eaeaea;
    color: #134d4e;
    border-bottom: 2px solid #134d4e;
}

/*Estilos específicos para el formulario*/
.formulario {
    max-width: 600px;
    margin: 100px auto;
    padding: 80px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(10, 12, 13, 0.3);
}
.formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 6px;
    color: #1c5052;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #65918e;
    border-radius: 6px;
    background-color: #ffffff;
}
input:focus, select:focus {
    outline: none;
    border-color: #65918e;
    box-shadow: 0 0 5px #65918e;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #1c5052;
    color: #f2f2f2;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    box-shadow: 0 0 8px #134d4e;
    font-weight: bold;
}

/*Estilos para la página que salta luego de enviar el formulario*/
.contenedorExterior {
    display: flex;
    gap: 2rem;
    padding: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/*Estilos para las fracciones de código*/
.cod1 {
    font-family: 'Courier New', Courier, monospace;
    text-indent: 2em;
}
.cod2 {
    font-family: 'Courier New', Courier, monospace;
    text-indent: 4em;
}
.codtabla {
    font-family: 'Courier New', Courier, monospace;
}

/*Estilos para el footer*/
.piepagina {
    background-color: #213635;
    color: #f2f2f2;
    text-align: center;
    padding: 2rem;
}
